<div class="container">
  <div class="user_pofile border mt-5 mb-0">
    
    <p class="text-white usermess_info mt-3"><%= @user.profile.username %></p>
  </div>
  <% if @user != current_user && user_signed_in? %>
    <section class="message_box" id="po">
      <div id="messages" class="msg_box p-4 rounded">
        <%= render @messages %>
      </div>
    </section>
    
    <div class="message_form mb-5" >
     <%= render 'messages/message_form',
       {from_user: current_user, to_user: @user, room_id: @room_id} %>
    </div>
    
    <script type="text/javascript">
      var obj = document.getElementById("po");
      obj.scrollTop = obj.scrollHeight;
    </script>
  <% end %>
</div>