/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

@import "bootstrap";
@import "font-awesome";
@import "bootstrap-social";
@import "scss/creative";
@import  "css/creative";
@import "css/magnific-popup.css";

.navbar-brand{
  float: left;
  margin-left: 20px;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}
navbar-brand:hover {
    color: #fff;
    text-decoration: none;
}
.collapse{
    margin-left: 30px;
}

footer {
    padding: 25px 0;
    text-align: center;
    color: rgba(255,255,255,.3);
    background-color: hotpink;
}


/* sign in form */
:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

.body1 {
  background: hotpink center center;
  /* fallback for old browsers */
  background-image: -webkit-url("../img/signup1.jpg");
  /* Chrome 10-25, Safari 5.1-6 */
  background-image: url("../img/signup1.jpg");
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-size: cover;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}
.minpassword{
    margin-top: 5px;
    margin-left: 10px;
}
.loginlabel{
    font-family: "Helvetica",sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}

.selectform{
  margin-bottom: 30px;
}

/* background*/

.body2{
  background-color: #FAACA8;
  background-image: linear-gradient(20deg, #FAACA8 0%, #DDD6F3 100%);
  background-image: -webkit-url-linear-gradient(20deg, #FAACA8 0%, #DDD6F3 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* user show */

.profilecard{
  text-align: center;
}

.top-cd{
  background-color: #EEEEEE;
}

/* user index */

/* matching#index */
.user-widget-2 .media {
    margin-bottom: 20px;
}

.user-widget-2 h5 {
    font-size: 0.9375rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.user-widget-2 p {
    font-size: 0.8125rem;
    margin-bottom: 10px;
}

.user-widget-2 p .badge {
    margin-right: 10px;
}

.user-widget-2 i {
    margin-left: 20px;
    margin-right: 20px;
}

.user-widget-2 .rounded-circle {
    border: 3px solid #fff;
    height: 100px;
    width: 100px;
    -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    margin-right: 20px;
}

.sample-badges .badge {
    margin-right: 10px;
}

.badge {
    border-radius: 8px;
    border: 0;
    font-size: 0.75rem;
    text-align: center;
    line-height: 0.8;
    padding: 8px 12px;
    font-weight: normal;
}

.badge.badge-sm {
    font-size: 0.625rem;
    line-height: 0.6;
}

.badge.badge-lg {
    font-size: 0.875rem;
    line-height: 1;
}

.badge.badge-rounded {
    padding: 0;
    height: 24px;
    width: 24px;
    line-height: 24px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.badge.badge-rounded.badge-sm {
    height: 18px;
    width: 18px;
    line-height: 18px;
    border-radius: 50%;
}

.badge.badge-rounded.badge-sm.badge-outline {
    line-height: 16px;
}

.badge.badge-rounded.badge-lg {
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
}

.badge.badge-rounded.badge-lg.badge-outline {
    line-height: 28px;
}

.badge.badge-light:not(.badge-outline) {
    background-color: #ffffff;
    color: #fff;
}

.badge.badge-outline.badge-light {
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
}

.badge.badge-dark:not(.badge-outline) {
    background-color: #212121;
    color: #fff;
}

.badge.badge-outline.badge-dark {
    border: 1px solid #212121;
    background-color: transparent;
    color: #212121;
}

.badge.badge-default:not(.badge-outline) {
    background-color: #212121;
    color: #fff;
}

.badge.badge-outline.badge-default {
    border: 1px solid #212121;
    background-color: transparent;
    color: #212121;
}

.badge.badge-primary:not(.badge-outline) {
    background-color: #303f9f;
    color: #fff;
}

.badge.badge-outline.badge-primary {
    border: 1px solid #303f9f;
    background-color: transparent;
    color: #303f9f;
}

.badge.badge-secondary:not(.badge-outline) {
    background-color: #7b1fa2;
    color: #fff;
}

.badge.badge-outline.badge-secondary {
    border: 1px solid #7b1fa2;
    background-color: transparent;
    color: #7b1fa2;
}

.badge.badge-info:not(.badge-outline) {
    background-color: #0288d1;
    color: #fff;
}

.badge.badge-outline.badge-info {
    border: 1px solid #0288d1;
    background-color: transparent;
    color: #0288d1;
}

.badge.badge-success:not(.badge-outline) {
    background-color: #388e3c;
    color: #fff;
}

.badge.badge-outline.badge-success {
    border: 1px solid #388e3c;
    background-color: transparent;
    color: #388e3c;
}

.badge.badge-warning:not(.badge-outline) {
    background-color: #ffa000;
    color: #fff;
}

.badge.badge-outline.badge-warning {
    border: 1px solid #ffa000;
    background-color: transparent;
    color: #ffa000;
}

.badge.badge-danger:not(.badge-outline) {
    background-color: #d32f2f;
    color: #fff;
}

.badge.badge-outline.badge-danger {
    border: 1px solid #d32f2f;
    background-color: transparent;
    color: #d32f2f;
}

/* _message.html.erb */

section.message_box {
  padding: 10px;
  border: 1px solid #d3d3d3;
  overflow: scroll;
  overflow-x: hidden;
  #messages {
    height: 400px;
  }
}


#message_sender {
  font-size: 0.8em;
  margin: 0;
}

#message_content {
  font-size: 1.0em;
  width: 45%;
  background-color :#ebebeb;
}

.message_form{
  .ip{
    height: 40px;
    width: 100%;
  }
}

.user_pofile{
  height: 60px;
  background-color: hotpink;

  .usermess_info{
    font-weight: bold;
    text-align: center;
  }
}

.kaminaricss{
  margin: 0 auto;
}

.page-link{
  color: hotpink; 
} 

.page-item.active .page-link{
  background-color: hotpink;
  border-color: hotpink;
}

/* マッチングしたときの演出 */

#wrap {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    position: absolute;
}


#left-bg,#right-bg {
    width: 720px;
    height: 100%;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    box-flex:1;
}

#left-bg {
    position: relative;
    left: -800px;
    background-color: blue;
    text-align: center;
    padding-top: 200px;
    background: url(/assets/christmas.jpg) left top no-repeat;
}

#right-bg {
    position: relative;
    right: -800px;
    background-color: red;
    text-align: center;
    padding-top: 200px;
    background: url(/assets/christmas.jpg) right top no-repeat;
}

.user_avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#left-avatar{
  margin-left: 50px;
}

#right-avatar{
  margin-right: 50px;
}

.user_name {
  color: white;
  font-size: 16px;
  padding: 15px;
}

#left_name {
  padding-left: 60px;
}

#right_name {
  padding-right: 60px;
}

#matching_message {
  position: absolute;
  top: 400px;
  left: 650px;
  color: white;
  font-size: 20px;
  opacity: 0;
}

#wreath {
  opacity: 0;
  position: absolute;
  left: 495px;
  top: 180px;
  width: 450px;
}

#christmas_message {
  opacity: 0;
  position: absolute;
  top: 340px;
  left: 485px;
  color: #ffffe0;
  text-shadow: 0 0 10px #fff,0 0 15px #fff;
  padding: 50px;
  font-size: 30px;
}