<footer>
      <div class="container">
        <p class="text-white">&copy; My Website 2019. All Rights Reserved.</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#" style="color:#fff">Privacy</a>
          </li>
          <li class="list-inline-item">
            <a href="#" style="color:#fff">Terms</a>
          </li>
          <li class="list-inline-item">
            <a href="#" style="color:#fff">FAQ</a>
          </li>
        </ul>
      </div>
</footer>